<div class="container-fluid manageuser">
    <div class="row">
        <div class="col-lg-2 left">
            <div class="list-group margin">
                <button routerLink="/" type="button" class="list-group-item list-group-item-action">Manage User</button>
                <button routerLink="/adddata" type="button" class="list-group-item list-group-item-action">Add
                    User</button>
                <button routerLink="/managetodo" type="button" class="list-group-item list-group-item-action">Manage
                    Todo</button>
                <button routerLink="/addtodo" type="button" class="list-group-item list-group-item-action">Add
                    Todo</button>
                <button routerLink="/manageuser" type="button" class="list-group-item list-group-item-action">User
                    Todo</button>
            </div>
        </div>
        <div class="col-lg-10 right mt-2">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="selectedDate" class="mb-0">Select Date:</label>
                        <div class="input-group">
                            <input matInput [matDatepicker]="picker" id="selectedDate" name="selectedDate"
                                [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)"
                                class="form-control custom-input">
                            <mat-datepicker-toggle matSuffix [for]="picker" class="input-group-text custom-toggle">
                                <i class="fa fa-calendar fa-lg"></i>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker class="custom-datepicker"></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 mt-3">
                    <button class="btn btn-light btn-block" (click)="showOverdue()">Overdue Todos</button>
                </div>
                <div class="col-lg-2 mt-3">
                    <button class="btn btn-light btn-block" (click)="showUpcoming()">Upcoming Todos</button>
                </div>
                <div class="col-lg-2 mt-3">
                    <button class="btn btn-light btn-block" (click)="showDone()">
                        {{ isShowDone ? "Done Todos" : "Pending Todos" }}
                    </button>
                </div>
                <div class="col-lg-2 mt-1">
                    <select name="cars" class="form-control mt-2" [(ngModel)]="selectedPriority"
                        (change)="showPriority()">
                        <option value="">Search Priority</option>
                        <option value="1">Very High</option>
                        <option value="2">High</option>
                        <option value="3">Medium</option>
                        <option value="4">Low</option>
                    </select>
                </div>
            </div>
            <div class="container mt-4">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h5 class="mb-0">Task List</h5>
                    </div>
                    <div class="card-body">
                        <h1 *ngIf="todos.length === 0" class="text-center no-todos-message">No todos available for this
                            date</h1>
                        <div *ngFor="let username of getUniqueUsernames(); let i = index" class="user-tasks mb-3">
                            <div class="d-flex justify-content-between align-items-center user-header">
                                <h5 class="card-title">{{ username }}</h5>
                                <div>
                                    <button class="btn btn-sm btn-secondary mr-3" (click)="sortPriority(username)">
                                        {{ 'Sort Priority' }}
                                    </button>

                                    <button class="btn btn-sm btn-secondary" (click)="sortByDateTime(username)">
                                        {{ sortingOrders[username] ? 'Sort Date Time' : 'Sort Date Time' }}
                                    </button>
                                </div>
                            </div>
                            <ul class="list-group">
                                <li *ngFor="let task of getTasksForUsername(username)" class="list-group-item">
                                    <div class="row">
                                        <div class="col-8">{{ task.todoname }}</div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col" [class]="getPriorityClass(task.priority)">
                                                    {{ getPriorityLabel(task.priority) }}
                                                </div>
                                                <small class="col">{{ task.datetime | date: 'dd MMM yyyy' }} <span class="separator">{{ task.datetime | date: 'HH:mm' }}</span></small>
                                            </div>
                                            <!-- <small>{{ task.done ? 'Done' : 'Pending' }}</small> -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>