<div class="container-fluid home">
  <div class="row">

    <div class="col-2">
      <div class="list-group margin">
        <button [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/" type="button" class="list-group-item list-group-item-action">Manage User</button>
        <button routerLinkActive="active" routerLink="/adddata" type="button" class="list-group-item list-group-item-action">Add
          User</button>
        <button routerLinkActive="active" routerLink="/managetodo" type="button" class="list-group-item list-group-item-action">Manage
          Todo</button>
        <button routerLinkActive="active" routerLink="/addtodo" type="button" class="list-group-item list-group-item-action">Add
          Todo</button>
        <button routerLinkActive="active" routerLink="/manageuser" type="button" class="list-group-item list-group-item-action">
          User Todo</button>
      </div>
    </div>

    <div class="col-10 mt-2">
      <!-- ----------- drop down --------------- -->
      <div class="row ">
        <div class="col">
          <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              All/Deleted
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button (click)="selectAllDelete('all')" class="dropdown-item" type="button">all</button>
              <button (click)="selectAllDelete('delete')" class="dropdown-item" type="button">deleted</button>
            </div>
          </div>
        </div>
        <div class="col">
          <ng-multiselect-dropdown *ngIf="!isshowDeleteData" [placeholder]="'Search Name'" [settings]="dropdownSettings"
            [data]="dropdownList" [(ngModel)]="selectedItems" (onDeSelect)="onDeselect($event)"
            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeselectAll($event)">
          </ng-multiselect-dropdown>
          <!-- --------------- Deleted ---------------- -->
          <ng-multiselect-dropdown *ngIf="isshowDeleteData" [placeholder]="'Search Name'" [settings]="dropdownSettings "
            [data]="dropdownListDeleted" [(ngModel)]="selectedItemsDeleted" (onSelect)="onItemSelectDeleted($event)"
            (onSelectAll)="onSelectAllDeleted($event)" (onDeSelect)="onDeselectDeleted($event)"
            (onDeSelectAll)="onDeselectAllDeleted($event)">
          </ng-multiselect-dropdown>
        </div>
        <div class="col" *ngIf="!isshowDeleteData">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Row
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button (click)="selectRow(i)" class="dropdown-item" type="button"
                *ngFor="let i of [5,10,15,30,50] ; let index=index">{{i}}</button>
            </div>
          </div>
        </div>
        <!-- <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              Column
            </button>
            <div class="dropdown-menu">
              <div class="dropdown-item">
                <input type="checkbox" id="checkbox1" (change)="checkboxChanged('checkbox1', $event)"
                  [checked]="showcontact">
                <label class="contact ml-3" for="checkbox1">Contact</label>
              </div>
              <div class="dropdown-item">
                <input type="checkbox" id="checkbox2" (change)="checkboxChanged('checkbox2', $event)"
                  [checked]="showage">
                <label class="age ml-3" for="checkbox2">Age</label>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <!-- ----------------------------- -->

      <div class="row" *ngIf="isShowHome">
        <div class="col">
          <div *ngIf="selectedFilterData.length===0 && selectedRowData.length===0">
            
            <table class="table mt-2" border="1" *ngIf="!isshowDeleteData && !isEditShow && isShowHome">
              
              <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="filteredPeople"
                [columnDefs]="colDefs" [pagination]="true" [paginationPageSize]="tableSize" [animateRows]="true" [rowSelection]="'multiple'">
              </ag-grid-angular>
            </table>
            <!-- ----------------------- Delete Table ----------------------- -->
            <table *ngIf="isshowDeleteData && selectedFilterDataDeleted.length===0" class="table mt-2 deleted-table"
              border="1">
              <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="deletedData"
                [columnDefs]="colDefs" [pagination]="true" [paginationPageSize]="tableSize" [animateRows]="true" [rowSelection]="'multiple'">
              </ag-grid-angular>
            </table>
            <!-- --------------- Deleted Selected item -------------------- -->

            <table *ngIf="selectedFilterDataDeleted.length>0" class="table mt-2 deleted-table" border="1">
              <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="selectedFilterDataDeleted"
                [columnDefs]="colDefs" [pagination]="true" [paginationPageSize]="tableSize" [animateRows]="true" [rowSelection]="'multiple'">
              </ag-grid-angular>
            </table>

          </div>
        </div>
      </div>


      <div class="row" *ngIf="selectedFilterData.length>0">
        <div class="col">
          <!-- -------------------- Search Data ----------------------- -->
          <table class="table mt-2" border="1">
            <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="selectedFilterData"
                [columnDefs]="colDefs" [pagination]="true" [paginationPageSize]="tableSize" [animateRows]="true" [rowSelection]="'multiple'">
              </ag-grid-angular>
          </table>
        </div>
      </div>


      <div class="row" *ngIf="selectedRowData.length>0">
        <div class="col">
          <!-- ---------------- Selected Row --------------- -->
          <table class="table mt-2" border="1">
            <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="selectedRowData"
                [columnDefs]="colDefs" [pagination]="true" [paginationPageSize]="tableSize" [animateRows]="true" [rowSelection]="'multiple'">
              </ag-grid-angular>
          </table>
        </div> 
      </div>

      <div class="row">
        <!-- <div class="col">
          <span *ngIf="selectedFilterDataDeleted.length>0">{{selectedFilterDataDeleted.length}} Of Total Data
            :{{deletedData.length}}</span>
          <span *ngIf="selectedFilterData.length>0">{{selectedFilterData.length}} Of Total
            Data:{{filteredPeople.length}}</span>
          <span *ngIf="selectedRowData.length>0">Total Data :{{selectedRowData.length}} </span>
          <span
            *ngIf="!isshowDeleteData && !isEditShow && isShowHome && selectedRowData.length===0 && selectedFilterData.length===0">
            {{selectedrownum===0 ? '' : selectedrownum + ' Of' }} Total Data :{{filteredPeople.length}} </span>
          <span *ngIf="isshowDeleteData && selectedFilterDataDeleted.length===0">Total Data
            :{{deletedData.length}}</span>
        </div> -->
        <div *ngIf="selectedFilterDataDeleted.length===0">
          <div>
            <!-- <div class="col">
              <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div> -->
          </div>
        </div>
      </div>

    </div>

    <div class="col-1"></div>

  </div>
</div>